body, html {
    height: 100%;
    margin: 0;
  }
  
  #root, .create-nft-page {
    height: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: auto; 
  }

.create-nft-page {
    color: white;
    font-family: 'Arial', sans-serif;
    flex: 1; 
    background-image: url('./assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto; 
    justify-content: flex-start;
  }
  
  .create-nft-page header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .create-nft-page main {
    max-width: 800px; 
    margin: auto;
    margin-top: 0%;
    background: white;
    color: black;
    font-display: center;
    padding: 2rem;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  .footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; 
  }

  .nft-input-group {
    margin-bottom: 1rem;
  }
  
  .nft-input-group input,
  .nft-input-group textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px; 
  }
  
  .nft-input-group button {
    background-color: #008cdd; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nft-input-group button:hover {
    background-color: #005f99; 
  }

  button {
    background-color: #ff9000; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    margin: 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #e57700; 
  }
  

  .file-input-container button {
    vertical-align: middle; 
  }
  
  