html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Asegúrate de que no haya desplazamiento en el body */
}
#root, .profile {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.profile {
  color: white;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  flex: 1; /* Esto asegurará que el div .home ocupe todo el espacio vertical */
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: black;
}
.profile h1 {
  margin-bottom: 20px;
}

.nft-grid {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

.nft-grid .nft-card {
  color: black;
  flex: 0 0 auto; /* Asegura que las tarjetas no crezcan y se queden del tamaño especificado */
  width: 200px; /* Ancho deseado de las tarjetas */
}

.nft-grid .nft-card img {
  color: black;
  max-width: 100%; /* Asegura que la imagen sea completamente visible dentro de la tarjeta */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
}

/* Estilo para pantallas más pequeñas, dos tarjetas por fila */
@media (max-width: 768px) {
  .nft-card {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

/* Estilo para pantallas muy pequeñas, una tarjeta por fila */
@media (max-width: 480px) {
  .nft-card {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
