html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; 
}

#root, .profile {
  height: 100%;
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  overflow: auto; 
}

.profile {
  color: white;
  font-family: 'Arial', sans-serif;
  flex: 1; 
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: black;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 15px;
}

.profile h1 {
  margin-bottom: 20px;
}
.navigation {
  display: flex;
}
.nft-grid {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

.nft-grid .nft-card {
  color: black;
  flex: 0 0 auto; 
  width: 200px; 
}

.nft-grid .nft-card img {
  color: black;
  max-width: 100%; 
  height: auto; 
}

@media (max-width: 768px) {
  .nft-card {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}


@media (max-width: 480px) {
  .nft-card {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
